.footer-nav-button {
  --md-text-button-with-icon-icon-size: 24px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  min-height: 64px;
  border-radius: 0;
  text-decoration: none;
  color: var(--md-sys-color-on-surface-variant);
}

.footer-nav-button .nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 12px 8px 12px;
  min-width: 56px;
  height: 56px;
  box-sizing: border-box;
  transition: background-color 200ms ease-in-out;
  border-radius: var(--md-sys-shape-corner-full); /* Pill shape container */
}

.footer-nav-button.active {
    color: var(--md-sys-color-on-secondary-container);
}

.footer-nav-button.active .nav-content {
  background-color: var(--md-sys-color-secondary-container);
}

.footer-nav-button.active .material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

@media (max-width: 600px) {
    .footer-nav-button {
      min-height: 80px; /* Make buttons taller on mobile */
    }
}
