.footer-nav-button {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  min-height: 64px;
  border-radius: 0;
  text-decoration: none;
  color: var(--mat-tab-label-color);
}

.footer-nav-button .nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 12px 8px 12px;
  min-width: 56px;
  height: 56px;
  box-sizing: border-box;
  transition: background-color 200ms ease-in-out;
  border-radius: 9999px; /* Pill shape container */
}

.footer-nav-button.active {
    color: var(--mat-primary-color-dark);
}

.footer-nav-button.active .nav-content {
  background-color: var(--mat-primary-color-lighter);
}
html.dark-theme .footer-nav-button.active .nav-content {
  background-color: rgba(255, 255, 255, 0.1);
}


.footer-nav-button.active .material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

@media (max-width: 600px) {
    .footer-nav-button {
      min-height: 80px; /* Make buttons taller on mobile */
    }
}